
body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
}
a { color: #E57B2A; }
table { border-collapse: collapse; border-color: #dedede; }
th { background: #ddd; border-color: #dedede; }
td { padding: 3px 2px 3px 2px; border-color: #dedede; }
tr { border-color: #dedede; }
.buildtable { overflow: auto; overflow-y: hidden; }
.name { min-width: 350px; }
.time { min-width: 105px; }
.rev { min-width: 70px; }
.fullbrief { min-width: 85px; }
.status { min-width: 50px; }
.new { font-weight: bold; }
.normal { background: white; }
.warning { background: orange; }
.late { background: red; }
.disabled { background: gray; }
